    <div class="container-is-fluid">
      <div class="columns is-vcentered">
        <div class="column is-3">
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 has-text-centered"><a href="/recipe/{{id}}">{{ recipe_name }}</a></p>
                  <div class="media-center">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image" />
                    </figure>
                    <p> {{ user.username }} </p>
                    <p> {{ description }} </p>
                    <p> {{ ingredients }} </p>
                    <p> {{instructions }} </p>              
                    {{#if has_meat}}
                    <p> This recipe contains meat </p>
                    {{else}}
                    <p> This dish is vegetarian friendly!</p>
                    {{/if}}
                    <p> {{ created_on }} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>