{{!-- The divs generated in the #each helper that calls this partial will be the items inside of the grid wrapper. --}}
<div class="indiv-recipe-container">

    <a href="/recipe/{{id}}" class="recipe-name-all-recipes-pg">{{ recipe_name }}</a>

    {{#if imageUrl}}
        <img src="{{imageUrl}}" alt="Recipe Photo" class="recipe-photo">
    {{/if}}

    <p class="recipe-desc-all-and-search">{{ description }}</p>


    {{#if has_meat}}
    <img src="/img/swirl-flourish.png" alt="flourish-character" class="flourish-character"><p class="has-meat">Contains meat.</p>
    {{else}}
    <img src="/img/swirl-flourish.png" alt="flourish-character" class="flourish-character"><p class="has-meat">Vegetarian friendly.</p>
    {{/if}}

    <p class="posted-by">Posted by {{ user.username }} on {{ format_date created_on}}.</p>

    <img src="/img/border3.png" alt="ornamental-divider" class="ornamental-divider">

</div>
