<div class="container-is-fluid">
  <div class="columns is-vcentered">

    <div class="column p-6">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-centered"><a href="/recipe/{{id}}">{{ recipe_name }}</a></p>
            <div class="media-center">

              <figure class="image is-128x128">
                {{#if imageUrl}}
                <img src="{{imageUrl}}" alt="Recipe Photo">
                {{/if}}
              </figure>
              {{#if logged_in}}
              <p> {{ description }} </p>
              {{/if}}
              {{#if has_meat}}
              <p> This recipe contains meat </p>
              {{else}}
              <p> This dish is vegetarian friendly!</p>
              {{/if}}
              <p> Posted by: {{ user.username }} on {{ format_date created_on }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>