<div class="container">
  <div class="columns is-centered">
    <div class="column is-8">
      <div class="media is-centered">
        <div class="media-content">
          <p class="title is-4 has-text-centered"><a href="/recipe/{{id}}" class="recipe-name" style="color: black; margin: 60px auto;">{{ recipe.recipe_name }}</a></p>
          <div class="media-center">
            <figure class="image is-128x128" style="margin: 0 auto; display: block;">
              <img src="{{recipe.imageUrl}}" alt="Recipe Photo" class="center">
            </figure>
            <p class="has-text-centered" style="margin: 20px auto;">{{ recipe.user.username }}</p>
            <p class="has-text-centered" style="margin: 20px auto;">{{ recipe.description }}</p>

            {{#if ../recipe.has_meat}}
            <p class="has-text-centered" style="margin: 20px auto;">This recipe contains meat</p>
            {{else}}
            <p class="has-text-centered" style="margin: 20px auto;">This dish is vegetarian friendly!</p>
            {{/if}}
            <p class="has-text-centered" style="margin: 20px auto;">{{ format_date recipe.created_on }}</p>
            <button  style="margin: 20px auto; display: block;" data-num="{{id}}" class="button is-danger is-centered" id="delete-btn">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/deleteRecipe.js"></script>
