<div class="container-is-fluid">
  <div class="columns is-vcentered">
    <div class="column p-6">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <h2 class="title is-4 has-text-centered p-6"><a href="/recipe/{{recipe.id}}">{{ recipe.recipe_name }}</a></h2>
            <div class="media-center">
              <figure class="image is-128x128">
                {{#if recipe.imageUrl}}
                <img src="{{recipe.imageUrl}}" alt="Recipe Photo">
                {{/if}}
              </figure>
              <p> {{ recpe.user.username }} </p>
              {{#if logged_in}}
              <p> {{ recipe.description }} </p>

              {{#if has_meat}}
              <p> This recipe contains meat </p>
              {{else}}
              <p> This dish is vegetarian friendly!</p>
              {{/if}}
              {{/if}}
              <p> {{ format_date recipe.created_on }} </p>

            </div>
          </div>
        </div>

        <!-- Ingredients -->
        <div class="ingredients">
          <h5>Ingredients:</h5>
          <ul>
            {{#each recipe.ingredients}}
            <li>{{ this.ingredient }}</li>
            {{/each}}
          </ul>
        </div>

        <!-- Instructions -->
        <div class="instructions">
          <h5>Instructions:</h5>
          <ol>
            {{#each (orderById recipe.instructions)}}
            <li>{{ this.step }}</li>
            {{/each}}
          </ol>
        </div>

        <!-- Comments -->
        {{#if logged_in}}
        <div class="comments">
          <h5>Comments:</h5>
          <ul>
            {{#each recipe.comments as |comment|}}
            <li>
              <strong>{{ comment.user.username }}:</strong> {{ comment.content }}
            </li>
            {{/each}}
          </ul>

          <label for="comment-contents">Comment:</label>
          <input class="form-input" type="text" id="comment-contents" />
          <button class="btn-primary" type="submit">submit</button>

        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>